<div class="card-body">
        <h5 class="card-title">Subscription:{{dataValues.subscriptionName}}</h5>
        <p class="card-text">Due Date:{{dataValues.date}}</date:> </p>
        <p class="card-text float-left clearfix">Amount:{{dataValues.amount}} </p>

        <a id="deleteBtn" class="btn btn-danger float-right">X</a>
      </div>