<!-- start of navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">

    <a class="navbar-brand js-scroll-trigger"><img src="./images/subMan logoxxxs.png"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" data-toggle="modal" data-target="#loginmodal"
                    id="loginlink">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" data-toggle="modal" data-target="#signupmodal"
                    id="signuplink">Sign-up</a>

            </li>
        </ul>
    </div>

</nav>

<div class="jumbotron" id="jumbotron1">

</div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <span class="iconify" data-icon="ant-design:heart-outline" data-inline="false"></span>
            <p><b>24/7 Support:</b></p>
            <p>We are here to help you with any technical needs.
                Give us a call and we will make sure to help you to the best of our abilities.Day or night, we’re
                here for you. Talk to our support team from anywhere in the world, any hour of day.</p>
        </div>

        <div class="col-4">
            <span class="iconify" data-icon="et:wallet" data-inline="false"></span>
            <p><b>Free to Use:</b></p>
            <p>We are easy and free to use. No subscriptions or monthly payments ever! So you can spend more money
                on your subscriptions and less on how to manage it!</p>

        </div>

        <div class="col-4">
            <span class="iconify" data-icon="ic:outline-movie-creation" data-inline="false"></span>
            <p><b>Ease Of Use:</b></p>
            <p>Enjoy a secure way to remind you of all your movie and music subscriptions.A Secure way by using your
                email and password that you set up, and easy to use UI expereience. Just put your name of the
                subscription, category of the subs, monthly amount, and due date of subscription.</p>


        </div>
    </div>
</div>
<hr>
<div class="jumbotron" id="jum">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <p><b>Movie subscriptions:</b></p>
                <div id="carouselExampleSlidesOnly" class="carousel slide ml-4" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card" style="width: 18rem;">
                                <img src="./images/Netflix-Logo.jpg" class="card-img-top d-block w-100"
                                    alt="Netflix-Logo">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card" style="width: 18rem;">
                                <img src="./images/hulu.jpg" class="card-img-top d-block w-100" alt="hulu">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card" style="width: 18rem;">
                                <img src="./images/maxresdefault.jpg" class="card-img-top d-block w-100"
                                    alt="HBO Go logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4"></div>
            <div class="col-4">
                <p><b>Music Subscriptions:</b></p>
                <div id="carouselMain" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card" style="width: 18rem;">
                                <img src="./images/amazon.jpg" class="card-img-top d-block w-100" alt="amazon music">
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card" style="width: 18rem;">
                                <img src="./images/apple-music-logo.png" class="card-img-top d-block w-100"
                                    alt="apple music">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card" style="width: 18rem;">
                                <img src="./images/google.jpg" class="card-img-top d-block w-100"
                                    alt="google music logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row"></div>
<footer class="page-footer font-small pt-4">
    <div class="footer-copyright text-center py-3">©2019 Copyright:
        Death Eaters
    </div>

</footer>






<!-- login modal -->
<div class="modal" tabindex="-1" role="dialog" id="loginmodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- form for login -->
                <div class="row">
                    <div class="col-4">
                        <button type="button" class="btn btn-danger"><span class="iconify"
                                data-icon="ant-design:google-outline" data-inline="false"></span></button>
                    </div>
                </div>
                <hr>

                <form>
                    <div class="form-group">

                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp"
                            placeholder="Enter email">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="loginButton">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Sign up Modal -->
<div class="modal" tabindex="-1" role="dialog" id="signupmodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- form for login -->
                <div class="row">
                    <div class="col-4">
                        <button type="button" class="btn btn-danger"><span class="iconify"
                                data-icon="ant-design:google-outline" data-inline="false"></span></button>
                    </div>
                </div>
                <hr>

                <form>
                    <div class="form-group">

                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="signupEmail" aria-describedby="emailHelp"
                            placeholder="Enter email">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="signupPassword" placeholder="Password">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="signupButton">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>