<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">

  <a class="navbar-brand js-scroll-trigger"><img src="./images/subMan logoxxxs.png"></a>
  <form class="form-inline">
    <input class="form-control" id="searchbar" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto my-2 my-lg-0">
      <li class="nav-item">
        <a href="/logout" class="nav-link js-scroll-trigger" id="loginlink">Sign-out</a>
      </li>

    </ul>
  </div>

</nav>
<div class="jumbotron">
  <h2>Subscription List</h2>
  <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>

</div>
<div class="container" id="container">
  <div class="row">
    
    <table class="table table-striped" id="main">
    <thead>
      <tr>
         <th>Subscription Name</th>
        <th>Price</th>
        <th>Due Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="sub-container">
      
      {{#each results}}
      <tr>
        <td>{{ subscriptionName }}</td>
        <td>{{ amount }}</td>
        <td>{{ dueDate }}</td>
        <td>
          <button class="btn btn-warning">Edit</button>
          <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
      {{/each}}
      
    </tbody>
    
  </table>
  



  </div>
  
</div>
</div>
<div class="row"></div>
<footer class="page-footer font-small pt-4">
  <div class="footer-copyright text-center py-3">©2019 Copyright:
    Death Eaters
  </div>

</footer>


<!-- Modal Add Subscription-->

<div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Subscription</h5>

      </div>
      <div class="modal-body">
        <form action="/api/subs" method="post" id="my_form">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="subscriptionName" class="form-control" id="subscriptionName"
              placeholder="Subscription Name" required>
          </div>
          <div class="form-group">
            <label for="category">Category:</label>
            <select type="text" name="category" placeholder="Category" class="category">
              <option>Select Category </option>
              <option value="1">Video Streaming</option>
              <option value="2">Food Delivery</option>
              <option value="3">Clothing Delivery</option>
              <option value="4">Music Streaming</option>
              <option value="5">Products</option>
              <option value="6">Audio Books</option>
              <option value="7">Hygine</option>
              <option value="8">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="number">Day:</label>
            <input type="number" min="0" max="31" id="date" required />
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" date-type="currency" name="amount" class="form-control" id="price" placeholder="Price"
              required>
          </div>
        </form>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="saveBtnn">Save</button>
      </div>

    </div>

  </div>