.list-group-item {
  line-height: 2.5;
}
.navbar {
  background: transparent;
}
#jumbotron1 {
  background-image: url("../images/tv.jpg");
  background-size: cover;
  height: 600px;

}

hr {
  height:25px;
}
p {
  color: teal;
}
.navbar img {
  height:35px;
}
