.list-group-item {
  line-height: 2.5;
}
.navbar {
  background: transparent;
}
#jumbotron1 {
  background-image: url("../images/tv.jpg");
  background-size: cover;
  height: 600px;

}

hr {
  height:25px;
}
p {
  color: black;
}
.navbar img {
  height:35px;
}
#loginlink  {
  color: black;
  font-weight: bold;
}
#signuplink {
  color: black;
  font-weight: bold;
}
#mainhead{
  background-color: teal;
}
.footer-copyright {
  background-color: teal;
}
#jum {
  background: teal;
  height: 500px
}
#searchbar {
  width:70em !important;

}
@media only screen and (max-width:854px){
  #searchbar{
    width: 16em !important;
  }
}
@media only screen and (min-width:855px){
  #searchbar{
    width: 36em !important;
  }
}
@media only screen and (min-width:1048px){
  #searchbar{
    width: 49em !important;
  }
}
@media only screen and (min-width: 1367px){
  #searchbar{
    width: 69em !important;
  }
}